{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock extra_head %}

{% block title %}Clientes{% endblock title %}

{% block content %}

<h1>Clientes</h1>

<a href="{% url 'clientes:crear_cliente' %}" class="btn btn-primary">Crear Cliente</a>

<ul>
    {% for cliente in clientes %}
        <li>{{ cliente.nombre }} - {{ cliente.correo }} - {{ cliente.telefono }}</li>
    {% endfor %}
</ul>
    
{% endblock content %}