{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock extra_head %}

{% block title %}Clientes{% endblock title %}

{% block content %}

<h1>Clientes</h1>



<div class="barra_sup">
    <input type="text" id="search" placeholder="Buscar usuario...">
    <a href="{% url 'clientes:crear_cliente' %}" class="reg_cliente">Registrar otro cliente</a>
</div>

<div class="table_container">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Entrada/Salida</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>
                    {% if cliente.membresia_activa %}
                        <a href="#" class="reg_producto">Registrar entrada</a>
                    {% else %}
                        <span class="no_activo">Cliente no activo</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="no_products">No hay clientes registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
  const searchInput = document.getElementById("search");
  const filas = document.querySelectorAll("tbody tr");

  searchInput.addEventListener("input", function () {
    const searchTerm = searchInput.value.toLowerCase();

    filas.forEach(fila => {
      const textoFila = fila.textContent.toLowerCase();
      if (textoFila.includes(searchTerm)) {
        fila.style.display = "";
      } else {
        fila.style.display = "none";
      }
    });
  });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botones = document.querySelectorAll('.reg_producto');
    
        botones.forEach(boton => {
            boton.addEventListener('click', function (e) {
                e.preventDefault();
                if (this.textContent.includes('entrada')) {
                    this.textContent = 'Registrar salida';
                } else if (this.textContent.includes('salida')) {
                    this.textContent = 'Registrar entrada';
                }
            });
        });
    });
</script>
    
{% endblock content %}