{% extends 'base.html' %}

{% load static %}

{% block title %}Crear Cliente{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'clientes/css/crear_cliente.css' %}">
{% endblock extra_head %}

{% block content %}
<h1>Crear Cliente</h1>

<form method="post" class ="registro-form">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Crear Cliente</button>
    <a href="{% url 'clientes:clientes' %}" class="btn btn-secondary">Cancelar</a>

</form>

{{ mensaje}}

{% endblock content %}