:root {
    --header-bg-color: #800000;
    --select-tab-border: #983b09;
    --select-tab-shadow: #e8590d;
    --button-shadow: #410101;
    --header-h2-color: rgb(255, 207, 207);
    --header-text-color: rgb(255, 225, 225);
}
  

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 280px 3fr;
    grid-template-rows: 1fr;
    gap: 2vw;
    height: 100vh;
}

header {
    font-family: "Anton", sans-serif;
    grid-column: 1;
    height: 100vh;
    background: var(--header-bg-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
    box-shadow: 5px 0px 7px rgb(161, 161, 161);
}

header nav{
    padding-top: 5vh;
    width: 100%;
    height: calc(100vh - 5vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h2{
    font-weight: 100;
    color: var(--header-h2-color);
    font-size: 1.3rem;
    margin-bottom: 0;
}

header ul{
    margin: 0;
    margin-top: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header ul li{
    width: 100%;
    cursor: pointer;
    transition: box-shadow .15s ease;
    &:hover{
        box-shadow: 0 0px 10px var(--select-tab-shadow) inset;
    }
}

header ul li a{
    font-size: 1.3rem;
    color: var(--header-text-color);
    display: block;
    padding: 1.6vh 0;
    text-align: center;
    text-decoration: none;
}

img {
    width: 25vh;
    border-radius: 15px;
}

.logout_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--select-tab-border);
}

.logout{
    width: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 7px;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-size: 1.1rem;
    color: var(--header-h2-color);
    box-shadow: 0 -2px 5px var(--button-shadow) inset;
    transition: box-shadow .2s ease-out;
    &:hover{
        box-shadow: 0 -4px 7px var(--button-shadow) inset;
    }
}

.content{
    padding-left: 3vw;
    grid-column: 2;
    overflow-y: auto;
    width: 90%;
}