:root {
    --header-bg-color: #800000;
    --header-h2-color: #ede9e3;
    --header-button-color: #932928;
    --header-button-shadow: #bf3e13;
    --header-text-color: white;
    --whiter-black: #060606;
    --logout-bg-color: #f2f0ec;
}
  
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 280px 3fr;
    grid-template-rows: 1fr;
    gap: 2vw;
    height: 100dvh;
}

header {
    grid-column: 1;
    font-family: "Inter", sans-serif;
    height: 100%;
    background: var(--header-bg-color);
    z-index: 0;
    border-radius: 10px;
}

header nav{
    padding: 28px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 100%;
    border-radius: 10px;
}

header nav h2{
    font-weight: 900;
    color: var(--header-h2-color);
    font-size: 2rem;
    margin: 0;
}

header nav ul{
    margin: 0;
    width: 100%; 
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

header nav ul li{
    cursor: pointer;
    background-color: var(--header-button-color);
    padding: 7px 0px;
    text-align: center;
    border-radius: 5px;
    transition: box-shadow .2s ease;
    &:hover{
        box-shadow: 0 0px 10px var(--header-button-shadow) inset;
    }
}

header nav ul li a{
    width: 100%;
    height: 100%;
    display: block;
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.logout{
    text-decoration: none;
    color: var(--whiter-black);
    background-color: var(--logout-bg-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    transition: box-shadow .2s ease-out, transform .2s ease-out;
    &:hover{
        box-shadow: 0 0 5px rgb(0, 0, 0, 0.7) inset;
    }
    &:active{
        transform: scale(0.95);
    }
}

.content{
    padding-left: 3vw;
    grid-column: 2;
    overflow-y: auto;
    width: 90%;
}