{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'ventas/css/reg_venta.css' %}">
{% endblock extra_head %}

{% block title %}Ventas{% endblock title %}

{% block content_title %}
Registrar venta
{% endblock content_title %}

{% block content %}

<div class="search-bar-cont">
  <input type="text" id="searchBar" placeholder="Buscar producto...">
</div>

<div class="products_cont">
  
  {% for producto in productos %}
  <div class="product" data-id="{{ producto.idproducto }}" data-price="{{ producto.precio }}" id="prod_{{ producto.idproducto }}">
    <div class="prod-image-cont">
      <img src="{{ producto.imagen.url }}">
    </div>
    <h3>{{ producto.nombre }}</h3>
    <p>Precio: ${{ producto.precio }}</p>
    <div class="quantity-controler">
      <button class="remove">−</button>
      <span class="quantity">0</span>
      <button class="add">+</button>
    </div>
  </div>
  {% empty %}
  <div class="no_products">Es necesario registrar productos en el inventario.</div>
  {% endfor %}
    
</div>

{% comment %} <div class="bottom">
  
</div> {% endcomment %}

<div class="sale-summary" id="saleSummary">
    <button id="btnRegisterSale">Registrar venta</button>
    <p>
      $<span id="totalAmount">0.00</span>
    </p>
</div>

<section class="sale-modal-fade" id="saleModalFade">
  <div class="sale-modal-dialog">
    <div class="sale-modal-content">

      <div class="sale-modal-total-cont" >
        <p>El total de la venta es</p>
        <h3>$<span id="saleModalTotal">0.00</span></h3>
      </div>

      <div class="sale-modal-form" id="saleModalForm">
        {% csrf_token %}

        <div class="sale-form-fields">

          <label for="id_metodo_pago">{{ form.metodo_pago.label }}</label>
          {{ form.metodo_pago }}

          <div class="sale-modal-amount-paid" id="amountPaidCont">
            <label for="id_monto_pagado">{{ form.monto_pagado.label }}</label>
            {{ form.monto_pagado }}
            <p class="sale-modal-change-cont" id="changeCont">Cambio: $<span id="change"></span></p>
          </div>

        </div>
        <div class="sale-modal-form-buttons-cont">
          <button type="submit" id="confirmSale">Confirmar Venta</button>
          <button type="button" id="cancelSale">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}



{% block scripts %}
<script>
  const registrarVentaUrl = "{% url 'ventas:registrar_venta' %}";
</script>
<script src="{% static 'ventas/js/register_sale.js' %}"></script>
{% endblock scripts %}