{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'ventas/css/reg_venta.css' %}">
{% endblock extra_head %}


{% block content %}

<h1>Registrar Venta</h1>

<div class="buscador">
  <input type="text" id="search" placeholder="Buscar producto...">
</div>

<div class="productos">
  <div class="producto">
    <img src="{% static 'inventario/img/AGUA CIEL 1L.jpg' %}" alt="">
    <h3>Agua Ciel 1L</h3>
    <p>Precio: $20</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/powerade_moras.jpg' %}" alt="">
    <h3>Powerade 600ml Moras</h3>
    <p>Precio: $25</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/powerade_frutas.jpg' %}" alt="">
    <h3>Powerade 600ml Frutas</h3>
    <p>Precio: $25</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/monster_mango.png' %}" alt="">
    <h3>Monster 473 ml Energy Mango</h3>
    <p>Precio: $35</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/monster_blanco.png' %}" alt="">
    <h3>Monster 473 ml Energy Zero Ultra</h3>
    <p>Precio: $35</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/monster_negro.png' %}" alt="">
    <h3>Monster 473 ml Energy</h3>
    <p>Precio: $35</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/monster_sandia.png' %}" alt="">
    <h3>Monster 473 ml Energy Sandía</h3>
    <p>Precio: $25</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/vive100.jpg' %}" alt="">
    <h3>Vive 100 600ml</h3>
    <p>Precio: $25</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/creatina250g.png' %}" alt="">
    <h3>Creatina 250g EVOLUTION</h3>
    <p>Precio: $250</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/creatina500g.png' %}" alt="">
    <h3>Creatina 500g Meta Nutrition</h3>
    <p>Precio: $380</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/creatina1kg.jpg' %}" alt="">
    <h3>Creatina 1kg Meta Nutrition</h3>
    <p>Precio: $590</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/proteina_whey5l_vainilla.png' %}" alt="">
    <h3>Proteina Whey 5lbs Vainilla</h3>
    <p>Precio: $630</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/proteina_whey5lb_brownie.png' %}" alt="">
    <h3>Proteina Whey 5llbs Brownie</h3>
    <p>Precio: $630</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/proteina_meta_5lb_chocolate.png' %}" alt="">
    <h3>Proteina Meta Nutrition 5lbs Chocolate</h3>
    <p>Precio: $500</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/proteina_gold.png' %}" alt="">
    <h3>Proteina Whey Gold Chocolate</h3>
    <p>Precio: $1550</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/barra_chocolate.png' %}" alt="">
    <h3>Barra de proteina Chocolate</h3>
    <p>Precio: $35</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/barra_cookies.jpg' %}" alt="">
    <h3>Barra de proteina Cookies and Cream</h3>
    <p>Precio: $35</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/preentreno_psy.png' %}" alt="">
    <h3>Pre-entreno Psychotich 30 servicios</h3>
    <p>Precio: $350</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/preentreno_fury.png' %}" alt="">
    <h3>Pre-entreno Animal Fury 35 servicios</h3>
    <p>Precio: $580</p>
  </div>
  <div class="producto">
    <img src="{% static 'ventas/img/preentreno_pump.jpg' %}" alt="">
    <h3>Pre-entreno Animal Pump 35 servicios</h3>
    <p>Precio: $800</p>
  </div>
</div>

<script>
  const searchInput = document.getElementById("search");
  const productos = document.querySelectorAll(".producto");

  searchInput.addEventListener("input", function () {
    const searchTerm = searchInput.value.toLowerCase();

    productos.forEach(producto => {
      const nombre = producto.querySelector("h3").textContent.toLowerCase();
      if (nombre.includes(searchTerm)) {
        producto.style.display = "block";
      } else {
        producto.style.display = "none";
      }
    });
  });
</script>


{% endblock content %}