{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'membresias/css/crear_membresia.css' %}">
{% endblock extra_head %}

{% block content_title %}
Crear membresía
{% endblock content_title %}

{% block content %}

<form method="post" class="registro-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" >Guardar</button>
</form>

{% if cambio is not None %}
    <p><strong>Cambio:</strong> ${{ cambio }}</p>
{% endif %}
{% endblock content %}
