{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'core/css/inicio.css' %}">
{% endblock extra_head %}

{% block content %}

<div class="content">
    <div class="titulo-seccion">
        <h1 class="titulo">Panel Administrativo</h1>
        <hr>
    </div>
</div>

<div class="cajas">
    <div class="caja">
        <p class="titulo-caja">Clientes</p>
        <p class="numero-caja">24</p>
    </div>
    <div class="caja">
        <p class="titulo-caja">Visitas de hoy</p>
        <p class="numero-caja">12</p>
    </div>
    <div class="caja">
        <p class="titulo-caja">Membresías activas</p>
        <p class="numero-caja">30</p>
    </div>
    <div class="caja">
        <p class="titulo-caja">Ventas de hoy</p>
        <p class="numero-caja">15</p>
    </div>
</div>


{% endblock content %}