{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Gimnasio</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'img/logospartan.png' %}" alt="Logo Gimnasio" class="logo">
        <h2>Inicio de Sesión</h2>
        <form method="post">
            
            {% csrf_token %}
            
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}

            {{ form }}

            <button>Iniciar Sesión</button>
        </form>
    </div>

    <script>
        document.getElementById("registroForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Evita que el formulario se envíe a un servidor
            window.location.href = "inicio.html"; // Redirige a la página de inicio
        });
    </script>

</body>
</html>