.dashboard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 15px;
}

.stat-cards-cont{
    grid-column: 1/3;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 7px;
    border-radius: 10px;
}

.stat-card{
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-card div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.stat-card h3{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 80%;
}
.stat-card p{
    margin: 0;
    font-size: 6.3rem;
    font-weight: 400;
    line-height: 80%;
}

.membresias { background-color: #f25d5d; }
.clientes { background-color: #9de770; }
.ventas { background-color: #f18647; }
.visitas { background-color: #f48da4; }

.placeholder {
    background-color: #f0ede8;
    border-radius: 10px;
}