<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}Spartan Gym{% endblock title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header>
        <nav class="sidebar">
            <div class="title">
                <img src="{% static 'img/logospartan.png' %}" alt="Logo Gimnasio" class="logo">
                <h2>Sistema de operaciones</h2>
            </div>
            <ul>
                <li><a href="{% url 'core:inicio' %}">Inicio</a></li>
                <li><a href="{% url 'usuarios:usuarios' %}">Registro</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="membresias.html">Membresías</a></li>
                <li><a href="{% url 'ventas:registrar_venta' %}">Ventas</a></li>
                <li><a href="inventario.html">Inventario</a></li>
                <li><a href="reportes.html">Reportes</a></li>
            </ul>
            <a href="{% url 'usuarios:signout' %}" id="cerrarSesion">Cerrar Sesión</a>
        </nav>
    </header>
    <section class="content">
        {% block content %}{% endblock content %}
    </section>
    {% comment %} {% block scripts %}{% endblock scripts %} {% endcomment %}
</body>
</html>
