{% extends 'base.html' %}

{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'usuarios/css/registro.css' %}">
{% endblock extra_head %}


{% block content %}

<h2>Registrar nuevo usuario</h2>

<form method="post">
  {% csrf_token %}
  
  <p><label for="first_name">Nombre:</label><br>{{ form.first_name }}</p>

  <p><label for="primer_apellido">Primer Apellido:</label><br>{{ form.primer_apellido }}</p>

  <p><label for="segundo_apellido">Segundo Apellido:</label><br>{{ form.segundo_apellido }}</p>

  <p><label for="telefono">Teléfono:</label><br>{{ form.telefono }}</p>

  <p><label for="email">Correo Electrónico:</label><br>{{ form.email }}</p>

  <p><label for="rol">Rol:</label><br>{{ form.rol }}</p>

  <p><label for="username">Nombre de usuario:</label><br>{{ form.username }}</p>

  <p><label for="password1">Contraseña:</label><br>{{ form.password1 }}</p>

  <p><label for="password2">Confirmar Contraseña:</label><br>{{ form.password2 }}</p>


  <button type="submit">Registrar</button>
</form>

{% endblock content %}