body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    overflow-x: hidden;
}




.container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logo {
    width: 50px; /* Ajusta el tamaño según necesites */
    position: absolute;
    top: 10px;
    right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkred;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}